@import url("theme.css");

/***************************************************/
/* Fonts                                           */
/***************************************************/
@font-face{
  font-family:"Neo Tech W02 Light";
  src:url("Fonts/742891/fda10a2c-b5db-41d3-a8a5-739e00a24795.eot?#iefix");
  src:url("Fonts/742891/fda10a2c-b5db-41d3-a8a5-739e00a24795.eot?#iefix") format("eot"),
    url("Fonts/742891/ad8c23b8-3c32-4776-8d87-ea920efdd7c3.woff2") format("woff2"),
    url("Fonts/742891/500ecc0b-eac4-485b-88d0-3013b177dda6.woff") format("woff"),
    url("Fonts/742891/2ad852dd-a933-4668-a90e-15f16b4fa647.ttf") format("truetype"),
    url("Fonts/742891/ded5966b-f662-4af3-acf7-af2e819cf3bc.svg#ded5966b-f662-4af3-acf7-af2e819cf3bc") format("svg");
}

@font-face{
  font-family:"Neo Tech W02";
  src:url("Fonts/742903/9d5d1ae3-e34f-44fd-a57e-dbfacbe0ec4c.eot?#iefix");
  src:url("Fonts/742903/9d5d1ae3-e34f-44fd-a57e-dbfacbe0ec4c.eot?#iefix") format("eot"),
    url("Fonts/742903/8224aa90-b7ba-47af-8c9c-3b9870b709b6.woff2") format("woff2"),
    url("Fonts/742903/f62a7192-52d1-4e92-bccb-cb84ed5c753f.woff") format("woff"),
    url("Fonts/742903/2a9eef49-66bc-4fee-be90-f7fce5bc7404.ttf") format("truetype"),
    url("Fonts/742903/7ded18ef-b3a6-4803-94a5-13aa49034550.svg#7ded18ef-b3a6-4803-94a5-13aa49034550") format("svg");
}

@font-face{
  font-family:"Neo Tech W02 Medium";
  src:url("Fonts/742897/086a5263-141e-4fc1-96a8-c180c98ed609.eot?#iefix");
  src:url("Fonts/742897/086a5263-141e-4fc1-96a8-c180c98ed609.eot?#iefix") format("eot"),
    url("Fonts/742897/cb5ed948-7e71-4a51-9b94-816094388cd2.woff2") format("woff2"),
    url("Fonts/742897/e33f1dff-6aee-45fb-9f91-10b04c9f559f.woff") format("woff"),
    url("Fonts/742897/7d1c0641-f8d4-4a52-a13f-decf2319529d.ttf") format("truetype"),
    url("Fonts/742897/8f40b40a-9bda-4a13-a00e-cc961cebb971.svg#8f40b40a-9bda-4a13-a00e-cc961cebb971") format("svg");
}

@font-face{
  font-family:"Neo Tech W02 Bold";
  src:url("Fonts/742885/39974d8a-38de-4853-a4d1-778234a08061.eot?#iefix");
  src:url("Fonts/742885/39974d8a-38de-4853-a4d1-778234a08061.eot?#iefix") format("eot"),
    url("Fonts/742885/99982ea6-cc23-4076-85e9-0a0bf3909a31.woff2") format("woff2"),
    url("Fonts/742885/c647fd16-b021-4fda-88fb-c69967cdb3b4.woff") format("woff"),
    url("Fonts/742885/a9afb560-1f8d-4920-865c-1325f98d4b82.ttf") format("truetype"),
    url("Fonts/742885/41720127-f18c-4437-a9eb-543a99d63fea.svg#41720127-f18c-4437-a9eb-543a99d63fea") format("svg");
}

/***************************************************/
/* Common                                          */
/***************************************************/
body{
  font-family:"Lato" !important;
}

h1{
  color:#00275a !important;
  font-family:"Neo Tech W02 Medium" !important;
}

h2{
  color:#00275a !important;
  font-family:"Neo Tech W02 Medium" !important;
}

h3{
  color:#00275a !important;
  font-family:"Neo Tech W02 Medium" !important;
}

h4{
  color:#00275a !important;
  font-family:"Neo Tech W02 Medium" !important;
}

/***************************************************/
/* Navigation sidebar                              */
/***************************************************/
/* Top box with the company brand */
.wy-side-nav-search{
  background-color:#00275a !important;
}

.wy-side-nav-search a{
  color:#fff !important;
}

.rst-versions{
  background:#00275a none !important;
  border-top:0 !important;
  font-family:Verdana !important;
}

.rst-versions .rst-current-version{
  background-color:#00275a !important;
}

.rst-versions a{
  color:#fff !important;
}

.rst-versions a:hover{
  color:#00d3de !important;
}

.rst-versions .rst-other-versions{
  color:#fff !important;
}

.rst-versions .rst-other-versions hr{
  border-color:#fff !important;
}

#rtd-search-form{
  margin-top:10px !important;
}

a.icon-home{
  color:#fff !important;
  font-family:"Neo Tech W02 Medium" !important;
  font-size:25px !important;
  font-weight:normal !important;
  color:#fff !important;
  text-transform:uppercase !important;
}

.fa-home:before, .icon-home:before{
  content:url('imgs/logo.png') !important;
}

/* Sidebar TOC */
.wy-side-nav-search > a:hover, .wy-side-nav-search .wy-dropdown > a:hover{
  background-color:#00275a !important;
}

.wy-nav-side p.caption {
  border-bottom: 2px solid #00275a;
  font-size: 14px;
  font-weight:bold !important;
  color: #00275a !important;
}

.wy-side-nav-search{
  background-color:#00275a !important;
}

.wy-side-nav-search a{
  color:#fff !important;
}

.wy-nav-side{
  font-size: 14px;
  background-color:#f5f5f5 !important;
}

.wy-menu-vertical span{
  color:#00275a !important;
  font-weight:bold !important;
}

.wy-menu-vertical a, .wy-nav-content a:visited{
  color: #686868 !important;
}

.wy-menu-vertical a:hover{
  background-color:#e2e2e2 !important;
}

.wy-menu-vertical li.current a, .wy-menu-vertical li.current a:visited {
  color: #383838 !important;
  background-color: #fff !important;
  border:0 !important;
}

.wy-menu-vertical li.current a:hover {
  background-color: #e2e2e2 !important;
  border:0 !important;
}

/***************************************************/
/* Main content                                    */
/***************************************************/

.wy-nav-content a, .wy-nav-content a:visited {
  color:#006bde !important;
}

.wy-nav-content a:hover{
  color:#00d3de !important;
}

.wy-nav-content{
  background-color:#fff !important;
  max-width: 1050px !important;
}

.wy-nav-content-wrap{
  background-color:#fff !important;
}

.wy-nav-content  p, .wy-nav-content li{
  font-size:14px !important;
  line-height:auto !important;
  text-align:justify !important;
}

/* Autogenerate TOC from "content" rst directive */
.rst-content .section li p {
  margin-bottom: 0px;
}

/* Api reference section */
.api-ref p {
  text-align: left !important;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100% !important;
  max-width: 100% !important;
}

thead {
  border-color: 1px solid #00275a !important;
}

table th.head {
  background-color: #00275a;
  border: 1px solid #00275a !important;;
  border-right: 1px solid white !important;
  border-bottom: 2px solid white !important;
}

table th.head:last-child {
  border-right: 1px solid #00275a !important;
}

table td {
  border: 1px solid #e1e4e5;
}

th.head p, table th{
  color: white;
  margin-bottom: 0px;
}

/* Code snippets */
div.highlight-bash pre, div.highlight-shell-session pre  {
  background-color: whitesmoke !important;
  border-left: 5px solid black !important;
}

/* Images */
.figure.align-center .caption{
  text-align: center !important;
  margin: 0px 100px !important;
}

/* Video */
video {
  width: 100% !important;
}

/* Previous & Next buttons */
.btn{
  box-shadow:0 0 0 !important;
  border:0 !important;
  border-radius:0 !important;
}

a.btn.btn-neutral, a.btn.btn-neutral:visited {
  background-color:#00275a !important;
  color:#fff !important;
}

a.btn.btn-neutral:hover{
  background-color:#00d3de !important;
  color: white !important;
}

/* Footnotes */
dl.footnote {
  font-size: 14px !important;
  border-top: 2px solid #00275a;
  overflow: hidden;
  background: white;
  width: 100%;
}

dl.footnote dt {
  border: none !important;
  float: left;
  text-align: left;
  background: none !important;
  padding: 0;
  margin: 0;
  margin-top: 0em !important;
  font-size: 14px !important;
}

dl.footnote  dt::after {
  content: ".";
}

dl.footnote dd {
  background: none !important;
  text-align: left;
  padding-top: 2px;
  font-size: 14px !important;
}
