breathe==4.36.0
colcon-common-extensions==0.2.1
colcon-mixin==0.2.0
doc8==0.10.1
docutils==0.20.1
furo==2024.8.6
GitPython==3.1.44
setuptools==78.1.1
sphinx==8.2.1
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx_rtd_theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-imagehelper==1.1.1
sphinxcontrib-plantuml==0.30
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib.spelling==8.0.1
sphinx-toolbox==3.8.0
vcstool==0.3.0
xmlschema==3.3.2
