breathe==4.35.0
colcon-common-extensions==0.2.1
colcon-mixin==0.2.0
doc8==0.10.1
docutils==0.20.1
GitPython==3.1.41
setuptools==70.0.0
sphinx_rtd_theme==2.0.0
sphinx-tabs==3.4.5
# TODO(anyone) remove if https://github.com/sphinx-doc/sphinx/pull/12298/files is merged
sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-imagehelper==1.1.1
sphinxcontrib-plantuml==0.29
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sphinxcontrib.spelling==8.0.0
sphinx-toolbox==3.7.0
vcstool==0.3.0
xmlschema==3.3.2
