# .github/workflows/mirror.yml
on:
  push:
    branches:
      - 'master'

jobs:
  mirror_job:
    name: Mirror master branch to latest minor branch
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dest_branch:
          - '2.5.x'
          - '2.6.x'
    steps:
    - name: Mirror action step
      id: mirror
      uses: google/mirror-branch-action@v1.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        source: 'master'
        dest: ${{ matrix.dest_branch }}
