# .github/workflows/mirror.yml
on:
  push:
    branches:
      - '2.6.x'

jobs:
  mirror_job:
    name: Mirror 2.6.x branch to 2.6.11 branch
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dest_branch:
          - '2.6.11'
    steps:
    - name: Mirror action step
      id: mirror
      uses: google/mirror-branch-action@v1.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        source: '2.6.x'
        dest: ${{ matrix.dest_branch }}
