name: Fast DDS Docs Ubuntu CI (nightly)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs:
  nightly-ubuntu-ci-master:
    uses: eProsima/Fast-DDS-docs/.github/workflows/reusable-ubuntu-ci.yml@master
    with:
      # It would be desirable to have a matrix of ubuntu OS for this job, but due to the issue opened in this ticket:
      # https://github.com/orgs/community/discussions/128118 , it has been set as a single OS job.
      os-version: 'ubuntu-24.04'
      label: 'nightly-ubuntu-ci-master'
      fastdds-docs-branch: 'master'
      fastdds-branch: 'master'
      fastdds-python-branch: 'main'
      run-build: true
      run-tests: true
      use-ccache: false

  nightly-ubuntu-ci-2_14_x:
    uses: eProsima/Fast-DDS-docs/.github/workflows/reusable-ubuntu-ci.yml@2.14.x
    with:
      # It would be desirable to have a matrix of ubuntu OS for this job, but due to the issue opened in this ticket:
      # https://github.com/orgs/community/discussions/128118 , it has been set as a single OS job.
      os-version: 'ubuntu-22.04'
      label: '-nightly-ubuntu-ci-2.14.x'
      fastdds-docs-branch: '2.14.x'
      fastdds-branch: '2.14.x'
      fastdds-python-branch: '1.4.x'
      run-build: true
      run-tests: true
      use-ccache: false
