
name: Fast DDS Docs Ubuntu CI

on:
  workflow_dispatch:
    inputs:
      os-version:
        description: 'OS version to run the workflow'
        required: false
        default: 'ubuntu-24.04'
        type: string
      colcon-args:
        description: 'Extra arguments for colcon cli'
        required: false
        type: string
      cmake-args:
        description: 'Extra arguments for cmake cli'
        required: false
        type: string
      ctest-args:
        description: 'Extra arguments for ctest cli'
        required: false
        type: string
      fastdds-docs-branch:
        description: 'Branch or tag of Fast DDS Docs repository'
        type: string
        required: true
      fastdds-branch:
        description: 'Branch or tag of Fast DDS repository'
        type: string
        required: true
      fastdds-python-branch:
        description: 'Branch or tag of Fast DDS Python repository'
        required: true
        type: string
      run-tests:
        description: 'Run test suite of Fast DDS Docs'
        required: false
        type: boolean
        default: true
      use-ccache:
        description: 'Use CCache to speed up the build'
        required: false
        type: boolean
        default: false

  pull_request:
    types:
      - review_requested
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ubuntu-ci:
    if: ${{ !(github.event_name == 'pull_request') || !contains(github.event.pull_request.labels.*.name, 'conflicts') }}
    uses: ./.github/workflows/reusable-ubuntu-ci.yml
    with:
      # It would be desirable to have a matrix of ubuntu OS for this job, but due to the issue opened in this ticket:
      # https://github.com/orgs/community/discussions/128118 , it has been set as a single OS job.
      os-version: ${{ inputs.os-version || 'ubuntu-24.04' }}
      label: 'ubuntu-ci-3.1.x-2.1.x'
      colcon-args: ${{ inputs.colcon-args }}
      cmake-args: ${{ inputs.cmake-args }}
      ctest-args: ${{ inputs.ctest-args }}
      fastdds-docs-branch: ${{ inputs.fastdds-docs-branch || github.ref }}
      fastdds-branch: ${{ inputs.fastdds-branch || '3.1.x' }}
      fastdds-python-branch: ${{ inputs.fastdds-python-branch || '2.1.x' }}
      run-build: ${{ !(github.event_name == 'pull_request') || !contains(github.event.pull_request.labels.*.name, 'skip-ci') }}
      run-tests: ${{ (inputs.run-tests == true) || ((github.event_name == 'pull_request') && (!contains(github.event.pull_request.labels.*.name, 'no-test'))) }}
      use-ccache: ${{ inputs.use-ccache || false }}
      add-label: ${{ (github.event_name == 'pull_request') && (github.event.pull_request.head.repo.full_name == github.repository) && true || false }}
